<!doctype html>
<title>Fee Calculator</title>
<section class="content">
  <script>

  /**
   * Check that the quantity entered by the user is valid
   * @param obj - The textbox for the quantity
   */
  function updateQuantity(obj) {
      productName = obj.id.split('_').slice(0, -1).join('_');
      // Check if the quantity is a positive integer
      if (/^\d+$/.test(obj.value)) {
          // Check if the quantity is not zero
          if (parseInt(obj.value) === 0) {
              alert("Can't have 0 quantity")
              let checkbox = document.getElementById(productName)
              checkbox.checked = false
              showDiv(checkbox)
              obj.value = "1";
          }
      }
      else {
          obj.value = "1";
      }
    }

    /**
     * Show the quantity div when the product is checked
     * @param obj - The input tag object for the object
     */
    function showDiv(obj) {
        if (obj.checked) {
            document.getElementById(obj.id + "_quantity").style.display = "block";
            document.getElementById(obj.id + "_textbox").setAttribute("name", obj.value)
        }
        else {
            document.getElementById(obj.id + "_quantity").style.display = "none";
            document.getElementById(obj.id + "_textbox").removeAttribute("name")
        }
    }
  </script>
  <form method="post">
    {% for product in products %}
      <div class="checkbox checkbox-info"></div>
        <input type="checkbox" id="{{ product.name }}" value="{{ product.id }}" onchange="showDiv(this)">
        <label for="{{ product.name }}">{{ product.name }}</label><br>
      </div>
      <div id="{{ product.name }}_quantity" style="display: none">
        <label for="{{ product.name }}_textbox">Quantity: </label>
        <input type="text" value="1" id="{{ product.name }}_textbox" onchange="updateQuantity(this)">
      </div>
    {% endfor %}
    <input type="hidden" value="{{ event.service_fee_currency }}" id="currency" name="currency">
    <input type="hidden" value="{{ event.service_fee_amount }}" id="event_service_fee" name="event_service_fee">
    <input type="submit" value="Calculate Fee">
  </form>
</section>