<!doctype html>
<title>Fee Calculator</title>
<section class="content">
  <script>
    function showDiv(obj) {
        if (obj.checked) {
            document.getElementById(obj.id + "_quantity").innerHTML = '<label for="${obj.id}_text_box">Quantity</label><input type="text" id="${obj.id}_text_box"/>';
        }
        else {
            document.getElementById(obj.id + "_quantity").innerHTML = '';
        }
    }
  </script>
  <form method="get">
    {% for product in products %}
      <div class="checkbox checkbox-info"></div>
        <input type="checkbox" id="{{ product }}" name="{{ product }}" value="{{ product }}" onchange="showDiv(this)">
        <label for="{{ product }}">{{ product }}</label><br>
      </div>
      <div id="{{ product }}_quantity">

      </div>
    {% endfor %}
  </form>
</section>